body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkolivegreen;
}
#pageHeader{
    background-color: darkslategrey;
    overflow: hidden;
    color: burlywood;
    text-align: center;
    font-weight: 2em;
}
#navigationContainer{
    display: inline-flex;
    justify-content: space-between;
}
.hyperlinks{
    margin: 14px 16px 0px 8px;
    padding: 7px 16px;
    text-decoration: none;
    color: whitesmoke;
    border-bottom: 3px solid whitesmoke;
}
#infoContainer{
    margin: 50px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    color: whitesmoke;
    font-size: 24px;
}
img{
    width: 500px;
    border: 5px solid black;
}
#sourceContainer{
    font-size: 2em;
    margin: 50px;
    color: whitesmoke;
}